body, header, h1, ul {
	border: 0;
	padding: 0;
	margin: 0;
}

body {
	text-align: left;
	font-family: serif;
}

.sitenavigation {
	background: moccasin;
	list-style-type: none;
	overflow: hidden;
	margin: 0 10px 0 10px;
	text-align: center;
	position: static;
	padding: 0;
}
.sitenavigation li {
	display: inline-block;
}
.sitenavigation li a {
	font-size: 20px;
	display: block;
	padding: 15px;
	text-decoration: none;
	color: black;
	font-weight: bold;
}
.sitenavigation li a:hover {
	background: cornflowerblue;
	color: gold;
}

ul {
	padding-top: 0;
	padding-left: 2em;
	list-style-type: circle;
}

h1{
	margin: 10px 10px 0 10px;
	padding: 0.7em 0 0 0;
	font-size: 50px;
	text-align: center;
}

p.accent {
	font-style: italic;
	text-align: center; 
	padding-bottom: 1em;
}

img.devil {
	padding-top: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
	animation-name: RollOver;
	animation-duration: 4s;
}

@keyframes RollOver {
	0% {
	transform: translateX(0px) rotate(0deg);
	}
	100% {
	transform: translateX(0px) rotate(360deg);
	}
}

h2 {
	padding-top: 1em;
}

table {
	text-align: center;
	width: 876px;
	margin: 20px auto;
	border-collapse: collapse;
	padding: 0.4em;
	table-layout: fixed;
}
td {
	border: 1px solid black;
	padding: 0.4em 0.4em;
}
th {
	font-size: 20px;
}

form {
	padding: 10px;
}

fieldset {
	margin-bottom: 0.8em;
}

fieldset fieldset {
	margin-top: 1em;
	padding: 0.8em;
	border: 1px solid black;
}

legend {
	font-size: 1.25em;
}

#nameinput, #emailinput {
	width: 15em;
}

.contacttype label, .positiontype label, .jobtype label {
	margin-right: 1.6em;
}

.date-picker label {
	position: absolute;
	left: -10000px;
}

.submitbutton {
	border: none;
	text-align: center;
}

#submit {
	border: none;
	padding: 0.4em 0.6em;
}

footer {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 6em;
	width: 100%;
	text-align: center;
}