{% extends 'base.html' %}

<head>
    <script src="{{ url_for('static', filename='selection.js') }}"></script>
</head>


{% block header %}
    <h1>{% block title %}CPU Visualizer{% endblock %}</h1>
{% endblock %}


{% block content %}
    <div class="menu">
        <form id="selectionMenu" method="POST">
            <div class="selector" id="insdiv">
                <label for="ins">Instruction</label>
                <select name="ins" id="ins">
                    <option value="MOV">MOV</option>
                    <option value="CMP">CMP</option>
                    <option value="ADD">ADD</option>
                    <option value="ADC">ADC</option>
                    <option value="SUB">SUB</option>
                    <option value="SBC">SBC</option>
                    <option value="MUL">MUL</option>
                    <option value="DIV">DIV</option>
                    <option value="AND">AND</option>
                    <option value="BIC">BIC</option>
                    <option value="ORR">ORR</option>
                    <option value="EOR">EOR</option>
                    <option value="LSL">LSL</option>
                    <option value="LSR">LSR</option>
                    <option value="ASR">ASR</option>
                    <option value="ROR">ROR</option>
                </select>
            </div>
            <div class="selector" id="cpsrdiv">
                <label for="cpsr">Condition</label>
                <select name="cpsr" id="cpsr">
                    <option value="AL">AL</option>
                    <option value="EQ">EQ</option>
                    <option value="NE">NE</option>
                    <option value="GE">GE</option>
                    <option value="GT">GT</option>
                    <option value="LE">LE</option>
                    <option value="LT">LT</option>
                    <option value="CS">CS</option>
                    <option value="CC">CC</option>
                    <option value="MI">MI</option>
                    <option value="PL">PL</option>
                    <option value="VS">VS</option>
                    <option value="VC">VC</option>
                    <option value="HI">HI</option>
                    <option value="LS">LS</option>
                    <option value="NV">NV</option>
                </select>
            </div>
            <div class="selector" id="updatediv">
                <label for="immshift">S</label>
                <input type="checkbox" id="upcpsr" name="upcpsr" value="Up">
            </div>
            <div class="selector" id="rddiv">
                <label for="rd" class="rd">Destination</label>
                <select name="rd" class="rd" id="rd">
                    <option value='R0'>R0</option>
                    <option value='R1'>R1</option>
                    <option value='R2'>R2</option>
                    <option value='R3'>R3</option>
                    <option value='R4'>R4</option>
                    <option value='R5'>R5</option>
                    <option value='R6'>R6</option>
                    <option value='R7'>R7</option>
                    <option value='R8'>R8</option>
                    <option value='R9'>R9</option>
                    <option value='R10'>R10</option>
                    <option value='R11'>R11</option>
                    <option value='R12'>R12</option>
                    <option value='SP'>SP</option>
                    <option value='LR'>LR</option>
                    <option value='PC_CPSR'>PC_CPSR</option>
                </select>
            </div>
            <div class="selector" id="rmdiv">
                <label for="rm" class="rm">Operand1</label>
                <select name="rm" class="rm" id="rm">
                    <option value='R0'>R0</option>
                    <option value='R1'>R1</option>
                    <option value='R2'>R2</option>
                    <option value='R3'>R3</option>
                    <option value='R4'>R4</option>
                    <option value='R5'>R5</option>
                    <option value='R6'>R6</option>
                    <option value='R7'>R7</option>
                    <option value='R8'>R8</option>
                    <option value='R9'>R9</option>
                    <option value='R10'>R10</option>
                    <option value='R11'>R11</option>
                    <option value='R12'>R12</option>
                    <option value='SP'>SP</option>
                    <option value='LR'>LR</option>
                    <option value='PC_CPSR'>PC_CPSR</option>
                </select>
            </div>
            <div class="selector" id="rndiv">
                <label for="rn" id="rnlabel">Operand1</label>
                <select name="rn" id="rn">
                    <option value="immediate">Immediate</option>
                    <option value='R0'>R0</option>
                    <option value='R1'>R1</option>
                    <option value='R2'>R2</option>
                    <option value='R3'>R3</option>
                    <option value='R4'>R4</option>
                    <option value='R5'>R5</option>
                    <option value='R6'>R6</option>
                    <option value='R7'>R7</option>
                    <option value='R8'>R8</option>
                    <option value='R9'>R9</option>
                    <option value='R10'>R10</option>
                    <option value='R11'>R11</option>
                    <option value='R12'>R12</option>
                    <option value='SP'>SP</option>
                    <option value='LR'>LR</option>
                    <option value='PC_CPSR'>PC_CPSR</option>
                </select>
            </div>
            <div class="selector" id="immdiv">
                <label for="immbits">Immediate</label>
                <input type="number" min="0" max="15" name="immbits"
                id="immbits" class="immselector" value="0">
            </div>
            <div class="selector" id="immsdiv">
                <label for="immshift">Left Shift</label>
                <input type="number" min="0" max="4" name="immshift"
                id="immshift" class="immselector" value="0">
            </div>
            <div class="selector">
                <input type="submit" value="Encode" name="encode">
            </div>
            <div class="sidebar" id="right">
                 <table>
                     <caption>Instructions</caption>
			        <form id = "insreg">
                    {% for row in instructions %}
                        <tr>
                            <td class="insradio">
                            <label>
                            <input type="radio" name="inscheck" 
                            value={{row[0]}} id={{ "ins" ~ row[0]}}>
                            </label>
                            </td>
                        <th>{{ row[0] }}</th>
                        {% for text in row[1:] %}
                            <td>{{ text }}</td>
                        {% endfor %}
                        </tr>
                    {% endfor %}
			        </form>
                </table>
                <div class="selector" style="display:flex; justify-content:center;">
                    <input type="submit" value="Run" name="run">
                </div>
            </div>
        </form>
    </div>


    <div class="sidebar" id="left">
        <form name="radios">
            <label for="binary">
            <input type="radio" name="regbutt" id="binarybutton"
            value="b" checked>
                Binary
            </label>
            <label for="hexadecimal">
            <input type="radio" name="regbutt" id="hexbutton"
            value="x">
                Hexadecimal
            </label>
            <label for="decimal">
            <input type="radio" name="regbutt" id="decbutton"
            value="d">
                Decimal
            </label>
        </form>
        <table id="registers">
            {% for pair in pairs %}
            <tr>
                <th>{{ pair[0] }}</th>
                <td class="bin">{{ pair[1] }}</td>
                <td class="hex">{{ pair[2] }}</td>
                <td class="dec">{{ pair[3] }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>


    <script src="{{ url_for('static', filename='iselect.js') }}"></script>
{% endblock %}
