{% extends 'base.html' %}

<head>
    <script src="{{ url_for('static', filename='selection.js') }}"></script>
</head>

{% block header %}
    <h1>{% block title %}CPU Visualizer{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div class="menu">
        <form id="selectionMenu" method="POST">
            <div class="selector" id="insdiv">
                <label for="ins">Instruction</label>
                <select name="ins" id="ins">
                    <option value="move">MOV</option>
                    <option value="add">ADD</option>
                    <option value="subtract">SUB</option>
                    <option value="multiply">MUL</option>
                </select>
            </div>
            <div class="selector" id="rddiv">
                <label for="rd" class="rd">Destination</label>
                <select name="rd" class="rd" id="rd">
                    {% for name in names %}
                        <option value={{ name }}>{{ name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="selector" id="rmdiv">
                <label for="rm" class="rm">Operand1</label>
                <select name="rm" class="rm" id="rm">
                    {% for name in names %}
                        <option value={{ name }}>{{ name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="selector" id="rndiv">
                <label for="rn" id="rnlabel">Operand1</label>
                <select name="rn" id="rn">
                    <option value="immediate">Immediate</option>
                        {% for name in names %}
                    <option value={{ name }}>{{ name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="selector" id="immdiv">
                <label for="imm">Immediate</label>
                <select name="immbits" id="immbits">
                    <option value="0000">0000</option>
                    <option value="0001">0001</option>
                    <option value="0010">0010</option>
                    <option value="0011">0011</option>
                    <option value="0100">0100</option>
                    <option value="0101">0101</option>
                    <option value="0110">0110</option>
                    <option value="0111">0111</option>
                    <option value="1000">1000</option>
                    <option value="1001">1001</option>
                    <option value="1010">1010</option>
                    <option value="1011">1011</option>
                    <option value="1100">1100</option>
                    <option value="1101">1101</option>
                    <option value="1110">1110</option>
                    <option value="1111">1111</option>
                </select>
            </div>
            <div class="selector" id="immshift">
                <input type="number" min="0" max="4" name="immshift"
                id="immshift" value="0">
            </div>
            <div class="selector">
                <input type="submit" value="Encode">
            </div>
        </form>
    </div>
    <div class="sidebar" id="left">
        <table>
            {% for pair in pairs %}
            <tr>
                <th>{{ pair[0] }}</th>
                <td>{{ pair[1] }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="sidebar" id="right">
        <table>
            <caption>Instructions</caption>
        </table>
    </div>

    <script src="{{ url_for('static', filename='iselect.js') }}"></script>
{% endblock %}
