<!DOCTYPE html>
<html lang="en">
  <head>
		<title>Person Resume</title>
		<meta charset="utf-8">
		<meta name="description" content="IS40 Project 2">
		<meta name="keywords" content="HTML,CSS">
		<meta name="author" content="Kevin Carlis">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="styles.css">
  </head>
  <body>
		<header>
			<h1>Firstname Lastname</h1>
			<p class="accent">skill1 & skill2 professional</p>
		</header>
		<ul class="sitenavigation">
				<li><a href="home.html">Intro</a></li>
				<li><a href="experience.html">Experience</a></li>
				<li><a href="skills.html">Skills</a></li>
				<li><a href="motivation.html">Motivation</a></li>
				<li><a href="contact.html">Contact</a></li>
		</ul>
		<table>
			<tr>
				<th>Languages</th>
				<th>Technologies</th>
				<th>Skills</th>
			</tr>
			<tr>
				<td>C++</td>
				<td>VIM</td>
				<td>Customer Service</td>
			</tr>
			<tr>
				<td>Python</td>
				<td>Unix/Linux</td>
				<td>Database Management</td>
			</tr>
			<tr>
				<td>Java</td>
				<td>Git/Bash</td>
				<td>Statisical Analysis</td>
			</tr>
			<tr>
				<td>HTML/CSS</td>
				<td>SSH Protocol</td>
				<td>Project Management</td>
			</tr>
			<tr>
				<td>SQL</td>
				<td>ETL Webservers</td>
				<td>Managerial Experience</td>
			</tr>
			<tr>
				<td>R</td>
				<td>Excel/Access</td>
				<td>Actuarial Probability Exam</td>
			</tr>
			<tr>
				<td>SPSS</td>
				<td>Powerpoint/Word</td>
				<td>Dog Training</td>
			</tr>
		</table>
		<figure style="text-align: center">
			<img src="images/code.jpg">
			<figcaption>Omg he hacked the NSA. SO SKILLED!</figcaption>
		</figure>
		<footer>
			<p>(222) 222-2222</p>
			<p>fakemail@gmail.com</p>
		</footer>
  </body>
</html>
