h1, table {
    border: 0;
    padding: 0;
    margin: 0;
    text-align: center;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
}

th {
    padding-right: 0.4rem;
}

td {
    border: 1px solid;
    padding: 0.4em 0.4rem;
}
caption {
    font-size: 1.5em;
}

label {
    display: flex;
}

.selector {
    display: inline-block;
    margin: 0.4em 1em 3em 1em;
}
#rmdiv {
    display: none;
}

.sidebar {
    position: fixed;
    width: 120px;
}

#right {
    width: 200px;
    right: 0;
}
