body {
	height: 95vh;
}
h1, table {
    border: 0;
    padding: 0;
    margin: 0;
    text-align: center;
}

.menu {
    display: flex;
    justify-content: left;
    margin-left: 25%;
    padding-top: 1em;
    padding-bottom: 1em;
}
.selector {
    display: inline-block;
    padding-left: 0.4em;
}

.sidebar {
    position: fixed;
    width: 170px;
}

#right {
    width: 400px;
    right: 0;
}

table {
    margin: 0;
    border-collapse: collapse;
    table-layout: fixed;
}

table th {
    padding-left: 0;
    padding-right: 0.4rem;
    width: 50px;
}

div#right table {
    margin: 0 0 0 1.4em;
}

div#right table tr th {
    border: 1px solid;
    width: 30px;
    text-align: center;
    padding-right: 0;
}

td {
    border: 1px solid;
    padding: 0.4em 0.4rem;
    width: 80px;
    overflow: hidden;
    white-space:  nowrap;
}
caption {
    font-size: 1.5em;
}
label {
    display: flex;
}

div.selector label {
    justify-content: center;
}

td.insradio {
    width: 20px;
}

td.insradio label {
    display: table-cell;
}

form[name="radios"] {
    padding-bottom: 0.9em;
    margin-left: 0.7em;
}

#rmdiv {
    display: none;
}
.immselector {
    width: 5em;
}

.bin {
    display: table-cell;
}
.hex {
    display: none;
}
.dec {
    display: none;
}
